<!DOCTYPE html>
<html>
    <head>
        <title>表示</title>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/stylesheets/hyouji3.css">
    </head>
    <script src='/socket.io/socket.io.js'></script>
    <body>
        <h1><%= data[0].kai %></h1>
        <p><%= data[0].username %></p>
        <script src = '/javascripts/hyouji3.js'></script>
    </body>
</html>