<!DOCTYPE html>
<html>
    <head>
        <title>問題確認</title>
    </head>
    <body>
        <p><%= data[0].name %></p>
        <br>
        <h1><%= data[0].mondaibun %></h1>
        <br>
        <div id ="picture"></div>
        <br>
        <h1><label>回答</label>　<%= data[0].seikai %></h1>
        <script>
            const rows = JSON.parse('<%- JSON.stringify(data) %>');
            var doc = document.getElementById('picture');
            const class1 = "example";
            if(rows[0].picturename){
                doc.innerHTML ="<img src=images/" + rows[0].picturename + " class=" + class1 +">" 
            }
        </script>
    </body>
</html>