<!DOCTYPE html>
<html>
    <head>
        <title>問題確認</title>
        <meta name="viewport" content="width=device-width">
        <style>
            div#picture{
                font-size: 1px;
            }
        </style>
    </head>
    <body>
        <div id ="picture"><%= data[0].picturename %></div>
        <p><%= data[0].name %></p>
        <h1><%= data[0].mondaibun %></h1>
        <br>
        <div id ="picture2"></div>
        <br>
        <h1><label>回答</label>　<%= data[0].seikai %></h1>
        <script>
            const rows = document.getElementById('picture').innerHTML;
            var doc = document.getElementById('picture2');
            const class1 = "example";
            doc.innerHTML ="<img src=images/" + rows + " class=" + class1 +">" 
        </script>
    </body>
</html>