<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>回答一覧</title>
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="/stylesheets/mondai4.css">
  </head>
  <body>
    <script src ='/socket.io/socket.io.js'></script>
    <h1>回答一覧</h1>
    <div style ="display: flex;">
    <ul>
        <table  id ="table" class ="example">
          <thead>
            <tr><th>問題ID</th><th>名前</th><th>回答</th><th>判定</th></tr>
          </thead>
        <% web.forEach((list) => { %>
            <div>
                <tr>
                  <td><%= list.mon_ID%></td>
                  <td><%= list.username %></td>
                  <td><%= list.kai %></td>
                  <td><%= list.han %></td>
                </tr>
            </div>
        <% }) %>
      </table>
      </ul>
      <div id = "div1"></div>
    </div>
    <form name ="my">
      <input type="submit" name="kekka" value="結果発表">
    </form>
      <script src="javascripts/mondai4.js"></script>
  </body>
</html>