<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/javascript/mondai.js" ></script>
    <title>クイズシステム</title>
 </head>
 <body>
    <script src="/socket.io/socket.io.js"></script>
    
    <h1>問題選択</h1>
   
   <form name = "form1">
    <select name="mondaisentaku">
    <option value= 1 >問題１</option>
    </select>

   <div class = "s">
    <br>
    <input type="submit" name="button" value="問題送信" class="s"></button>
    <br>
   </div>
    </form>
 </body>   
</html>