p{
    font-size: 1px;
  }
  .R{
    display: flex;
    justify-content: center;
    border: solid 3px;
  }
  .hun{
    font-size: 50px;
  }
  .ti{
    font-size: 50px;
  }
  .byou{
    font-size: 50px;
  }
h1{
  text-align: center;
}
.picture{
  width: 2000px;
  height: 2000px;
  text-align: center;
}
.example{
  text-align: center;
  width: 900px;
  height: 600px;
}
body{
  background-color: #fffca9;
  background-size: cover;
}