table{
    border-color: collapse;
    text-align: center;
    width: 417px;
    table-layout: fixed;
}
.example{
  width:1100px;
  table-layout: fixed;
}
th, td {
  padding: 5px;
  border: 1px solid #333;
 }
th {
    background-color: #2c88d9;
    color: #FFF;
}
